{% load staticfiles %}
<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css'>
        <!--<link rel='stylesheet prefetch' href='http://codepen.io/ChynoDeluxe/pen/eJPeEL'>-->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="{% static 'js/circle-progress.js' %}"></script>
        <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
        <!-- <script src="{% static 'js/jquery.countdown.js' %}"></script> -->


        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

        <script>
            $(document).ready(function() {
                $('.description a').on('click', function(e) {
                    counter = $(this).attr("counter");
                    $('#ModalCenter').attr("counter", counter);
                });
                $('#ModalCenter').on('show.bs.modal', function(e) {
                    $("#pr").text('menu: ');
                    counter = $(this).attr("counter");
                    $('.modal-body').html('');
                    $(".deal"+counter).each(function(index) {
                        var item_name = $(this).html();
                        console.log(index+":"+item_name)
                        var class_name = $(this).attr('class').replace(" ", "_");
                        var itemid = $(this).attr('itemid');
                        var dealid = $(this).attr('dealid');
                        console.log(class_name); 
                        // $('.modal-body').append('<input type="radio" name="deal_item" value="'+class_name+'">'+item_name+'<br>');
                         $('.modal-body').append('<label for="'+class_name+'">'+item_name+'</label><input itemid="'+itemid+'" dealid="'+dealid+'" id="'+class_name+'" name="deal_item" class="form-control" type="number" min="0" max="100" value="0"><br>');
                    });
                    // console.log("{{ items.0.0.name }}");
                });
                $('#submit').on('click', function(e) {
                    // var radio = $("input[type='radio']:checked").val();
                    var json_all = [];
                    $('input[name="deal_item"]').each(function(index) {
                        var cn = $(this).attr('id').split("_");
                        var deal_id = $(this).attr('dealid');
                        var item_id = $(this).attr('itemid');
                        var amount = $(this).val();
                        var json = {}
                        json["deal_id"] = deal_id;
                        json["item_id"] = item_id;
                        json["amount"] = amount;
                        json_all.push(json);
                        // console.log("deal_id:"+deal_id+", item_id:"+item_id);
                    });
                    // console.log(json_all);
                    var data = {};
                    data["user_id"] = "{{user_id}}";
                    data["json_all"] = json_all;
                    console.log(data);
                    $.ajax({
                        url: "../order/order",
                        type:"POST",
                        dataType: 'json',
                        contentType : 'application/json; charset=utf-8',
                        data: JSON.stringify(data),
                        success: function(result){
                            console.log(result);
                            window.location.reload();q
                        },
                        error: function(){
                            alert("0.0????");
                        }
                    });
                });
                // var date = $(".extime1").text();
                // console.log(date);
                // // '2018/12/22 15:07:04'
                // $(".extime1").countdown(date, function (event) {
                //     // console.log($(this).text());
                //     // console.log(new Date($(this).text()));
                //     $(this).text(
                //         event.strftime('%D days %H:%M:%S ')
                //     );
                // });
                $('#mio').on('click', function(e) {
                    if ($('#dream1').css('display') == 'none') {
                        $('#dream1').show(500);
                        $('#dream4').show(500);
                        $('#dream2').show(400);
                        $('#dream5').show(400);
                        $('#dream3').show(300);
                        $('#dream6').show(300);
                    }else{
                        $('#dream1').hide(500);
                        $('#dream4').hide(500);
                        $('#dream2').hide(400);
                        $('#dream5').hide(400);
                        $('#dream3').hide(300);
                        $('#dream6').hide(300);
                    }
                });
            });
        </script>
    </head>
    <body style="background-color: #808080;">

        <h1>{% block pagetitle %}{% endblock %}</h1>
        <p>{% block content %}{% endblock %}</p>

    <nav class="navbar fixed-bottom navbar-light bg-faded">
        <div id="dream1">
            <a href="#" id="dreama"><b>我。訂單</b></a>
        </div>
        <div id="dream2"></div>
        <div id="dream3"></div>
        <div id="dream4">
            <a href="#" id="dreama2"><b><h4>揪</h4>起來</b></a>
        </div>
        <div id="dream5"></div>
        <div id="dream6"></div>
        <img id="mio" src="../media/mio.jpg">
        <!-- <a class="navbar-brand" href="#">Fixed bottom</a> -->
    </nav>
    {% block item_content %}{% endblock %}
    {% block modal_content %}{% endblock %}
    </body>
        {% block js %}{% endblock %}
</html>