{% extends 'base.html' %}

{% block title %} 首頁 {% endblock%}
{% block h2 %}  {% endblock %}

{% block content %}

<div class="container" style="margin-bottom: 55px;">

    <!-- <div class="card"> -->

    <!--Card image-->
    <!-- <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%282%29.jpg" alt="Card image cap"> -->
    <!--/.Card image-->
    <!--Card conten->
    <!-- <div class="card-block"> -->
    <!--Title-->
    <!-- <h4 class="card-title">Card title</h4> -->
    <!--Text-->
    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary" ripple-radius>Button</a>
    </div> -->
    <!--/.Card content-->
    <!-- </div> -->
    {% for deal in deals %} 
    <script> 
    $(document).ready(function() {
        $(".extime{{forloop.counter}}").countdown($(".extime{{forloop.counter}}").text(), function (event) {
            $(this).text(event.strftime('%D days %H:%M:%S ')).css("font-weight","Bold");
            var time = event.strftime('%D days %H:%M:%S ');
            $(this).html(`<div>${time}</div>`);
        });   
    });
    </script>
    {% endfor %}



    <!--PEN CODE-->
    {% for deal in deals %}{% if forloop.counter|divisibleby:2 %}
    <div class="blog-card">
        <div class="photo photo1"
             style="background: url(/media/{{deal.card_pic}}) center no-repeat;background-size: cover;"></div>
        <ul class="details">
            <li class="author"><a href="#">{{deal.author}}</a></li>
            <li class="date">{{deal.expired_time}}</li>
            <li class="tags">
                <ul>
                    <li><a href="#">Drink</a></li>
                    <li><a href="#">MilkShop</a></li>
                    <li><a href="#">MilkTea</a></li>
                    <li><a href="#">Milk</a></li>
                </ul>
            </li>
        </ul>
        <div class="description">
            <h1>{{deal.name}}</h1>
            <h2>{{deal.store}}</h2>
            <p class="summary">{{deal.desc |slice:":40"}}</p>
                      <!--<div class="circle prog" value="{{deal.prog}}"></div>-->

            <div class="circle"
              data-value="{{deal.prog}}"
              data-size="60"
              data-thickness="5"
              data-animation-start-value="1.0"
                 data-start-angle="-1.57"
              data-fill="{
                &quot;gradient&quot;:[&quot;red&quot;, &quot;orange&quot;]
              }"
            ><strong>{% widthratio deal.prog 1 100 %}<i>%</i></div>            <a href="#" data-toggle="modal" data-target="#ModalCenter" counter="{{forloop.counter}}">參加團購</a>
        </div>
    </div>
    {% else %}
    <div class="blog-card alt">
        <div class="photo photo2"
             style="background: url(/media/{{deal.card_pic}}) center no-repeat;background-size: cover;"></div>
        <ul class="details">
            <li class="author"><a href="#">{{deal.author}}</a></li>
            <li class="date">{{deal.expired_time | date:"Y/m/d H:i:s "}}</li>
            <li class="tags">
                <ul>
                    <li><a href="#">Learn</a></li>
                    <li><a href="#">Code</a></li>
                    <li><a href="#">JavaScript</a></li>
                </ul>
            </li>
        </ul>
        <div class="description">
            <h1>{{deal.name}}</h1>
            <h2>{{deal.store}}</h2>
            <p class="summary">{{deal.desc |slice:":40"}}</p>
            <!--<div class="circle prog" value="{{deal.prog}}"></div>-->
            <div class="circle"
              data-value="{{deal.prog}}"
              data-size="60"
              data-thickness="5"
              data-animation-start-value="1.0"
                 data-start-angle="-1.57"
              data-fill="{
                 &quot;gradient&quot;:[&quot;red&quot;, &quot;orange&quot;]
              }" style="font-size: 10px"
            ><strong>{% widthratio deal.prog 1 100 %}<i>%</i></strong></div>
            <p class="expire_time extime{{forloop.counter}}">{{deal.expired_time | date:"Y/m/d H:i:s"}}</p>

            <a href="#" data-toggle="modal" data-target="#ModalCenter" counter="{{forloop.counter}}">參加團購</a>
        </div>
    </div>
    {% endif %}
    {% endfor %}

    <!--END PEN CODE-->

</div>
<!--Card-->
<!--/.Card-->
{% endblock %}



{% block js %}
<script type="text/javascript">

    $(document).ready(function () {
        // $('.circle').circleProgress({
        //     value: 10.,
        //     size: 60,
        //     startAngle: -Math.PI / 2,
        //     fill: {
        //         gradient: ["red", "orange"]
        //     }
        // });
        // startAngle
        $('.circle').circleProgress('startAngle', -Math.PI / 2);
        $('.circle').circleProgress('redraw');
    })

</script>
{% endblock %}

{% block item_content %}
<div id="get_item">
    {% for di in items %}
        <!-- <script>console.log("{{ di }}")</script> -->
        {% for i in di %}
           <p itemid="{{ i.id }}" dealid="{{ i.deal_id_id }}" class="deal{{ forloop.parentloop.counter }} item{{ forloop.counter }}">{{ i.name }}</p>
            <!-- <script>console.log("{{ i.deal_id_id }}")</script> -->
        {% endfor %}
    {% endfor %} 
</div>
{% endblock %}

{% block modal_content %}
<!-- Modal -->
<div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p id="pr"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="submit">Save changes</button>
        </div>
      </div>
    </div>
</div>
{% endblock %}


